In [1]:
import duckdb as ddb
import pandas as pd

In [2]:
# set up connection
con = ddb.connect("../air_quality.db")
con

In [3]:
# looking for data with specific parameter
df = con.query("select * from raw.air_quality where parameter in ('so2', 'pm10', 'pm25')").to_df()
df.head()

,location_id,sensors_id,location,datetime,lat,lon,parameter,units,value,locationid,month,year,ingestion_datetime
0,384,673,CCNY-384,2024-01-01 06:00:00,40.8197,-73.9481,pm25,µg/m³,17.5,384,01,2024,2025-04-22 11:59:23.799
1,384,673,CCNY-384,2024-01-01 07:00:00,40.8197,-73.9481,pm25,µg/m³,16.1,384,01,2024,2025-04-22 11:59:23.799
2,384,673,CCNY-384,2024-01-01 08:00:00,40.8197,-73.9481,pm25,µg/m³,13.0,384,01,2024,2025-04-22 11:59:23.799
3,384,673,CCNY-384,2024-01-01 09:00:00,40.8197,-73.9481,pm25,µg/m³,12.0,384,01,2024,2025-04-22 11:59:23.799
4,384,673,CCNY-384,2024-01-01 10:00:00,40.8197,-73.9481,pm25,µg/m³,11.8,384,01,2024,2025-04-22 11:59:23.799

In [4]:
df.describe()

,location_id,sensors_id,datetime,lat,lon,value,locationid,year,ingestion_datetime
count,5.306600e+04,5.306600e+04,53066,53066.000000,53066.000000,53066.000000,5.306600e+04,53066.0,53066
mean,5.329727e+05,2.363174e+06,2024-02-18 23:19:38.042438,40.746733,-73.995057,6.345949,5.329727e+05,2024.0,2025-04-22 12:07:45.835636
min,3.840000e+02,6.730000e+02,2024-01-01 06:00:00,40.585000,-74.276176,-4.900000,3.840000e+02,2024.0,2025-04-22 11:59:23.799000
25%,6.640000e+02,1.146000e+03,2024-01-26 20:00:00,40.670250,-74.126083,1.800000,6.640000e+02,2024.0,2025-04-22 12:03:45.632000
50%,1.122000e+03,3.950000e+03,2024-02-20 21:00:00,40.737500,-73.966100,4.600000,1.122000e+03,2024.0,2025-04-22 12:08:03.014000
75%,4.960960e+05,5.077566e+06,2024-03-13 09:45:00,40.816101,-73.886703,8.613827,4.960960e+05,2024.0,2025-04-22 12:11:49.513000
max,2.616564e+06,8.520936e+06,2024-04-01 04:00:00,40.940119,-73.756170,170.400000,2.616564e+06,2024.0,2025-04-22 12:15:02.624000
std,8.445350e+05,3.165198e+06,NaN,0.091000,0.150030,7.016099,8.445350e+05,0.0,NaN

In [5]:
# describe on the string column
df.describe(include='O')

                     location parameter  units  month
count                   53066     53066  53066  53066
unique                     36         3      2      3
top     Elizabeth Trailer-971      pm25  µg/m³     03
freq                     3371     41935  45420  21099

In [6]:
# inspect for duplicates
df[df.duplicated(subset=["location_id", "parameter", "units", "value", "datetime"])]

,location_id,sensors_id,location,datetime,lat,lon,parameter,units,value,locationid,month,year,ingestion_datetime
41577,1236005,7971117,"Larchmont, NY-2490631",2024-03-09 18:00:00,40.940119,-73.756170,pm10,µg/m³,5.083333,1236005,03,2024,2025-04-22 12:12:22.345
41578,1236005,7971117,"Larchmont, NY-2490631",2024-03-09 19:00:00,40.940119,-73.756170,pm10,µg/m³,5.375000,1236005,03,2024,2025-04-22 12:12:22.345
45790,1824516,7971073,"Bayside, NY-2490779",2024-03-08 00:00:00,40.764349,-73.766340,pm10,µg/m³,3.222222,1824516,03,2024,2025-04-22 12:13:32.461
45791,1824516,7971073,"Bayside, NY-2490779",2024-03-08 01:00:00,40.764349,-73.766340,pm10,µg/m³,3.444444,1824516,03,2024,2025-04-22 12:13:32.461
45830,1824516,7971073,"Bayside, NY-2490779",2024-03-09 18:00:00,40.764349,-73.766340,pm10,µg/m³,5.402778,1824516,03,2024,2025-04-22 12:13:32.461
45831,1824516,7971073,"Bayside, NY-2490779",2024-03-09 19:00:00,40.764349,-73.766340,pm10,µg/m³,5.444444,1824516,03,2024,2025-04-22 12:13:32.461
47374,2153518,7979380,Jersey City Heights-2123699,2024-03-08 00:00:00,40.750650,-74.042520,pm10,µg/m³,2.437500,2153518,03,2024,2025-04-22 12:13:57.842
47375,2153518,7979380,Jersey City Heights-2123699,2024-03-08 01:00:00,40.750650,-74.042520,pm10,µg/m³,2.291667,2153518,03,2024,2025-04-22 12:13:57.842
47428,2153518,7979380,Jersey City Heights-2123699,2024-03-09 18:00:00,40.750650,-74.042520,pm10,µg/m³,6.758333,2153518,03,2024,2025-04-22 12:13:57.842
47429,2153518,7979380,Jersey City Heights-2123699,2024-03-09 19:00:00,40.750650,-74.042520,pm10,µg/m³,7.783333,2153518,03,2024,2025-04-22 12:13:57.842
48988,2386747,7971292,"Carteret, NJ - Van Buren Ave-2490719",2024-03-08 00:00:00,40.585000,-74.236000,pm10,µg/m³,2.694769,2386747,03,2024,2025-04-22 12:14:18.372
48989,2386747,7971292,"Carteret, NJ - Van Buren Ave-2490719",2024-03-08 01:00:00,40.585000,-74.236000,pm10,µg/m³,2.253681,2386747,03,2024,2025-04-22 12:14:18.372
49028,2386747,7971292,"Carteret, NJ - Van Buren Ave-2490719",2024-03-09 18:00:00,40.585000,-74.236000,pm10,µg/m³,4.205763,2386747,03,2024,2025-04-22 12:14:18.372
49029,2386747,7971292,"Carteret, NJ - Van Buren Ave-2490719",2024-03-09 19:00:00,40.585000,-74.236000,pm10,µg/m³,4.542268,2386747,03,2024,2025-04-22 12:14:18.372
49958,2453305,7979909,State Dept of Environmental Conservation-2423105,2024-03-08 00:00:00,40.737429,-73.820362,pm10,µg/m³,4.027679,2453305,03,2024,2025-04-22 12:14:35.705
49959,2453305,7979909,State Dept of Environmental Conservation-2423105,2024-03-08 01:00:00,40.737429,-73.820362,pm10,µg/m³,3.603125,2453305,03,2024,2025-04-22 12:14:35.705
50544,2453305,7979909,State Dept of Environmental Conservation-2423105,2024-03-09 18:00:00,40.737429,-73.820362,pm10,µg/m³,4.890774,2453305,03,2024,2025-04-22 12:14:35.705
50545,2453305,7979909,State Dept of Environmental Conservation-2423105,2024-03-09 19:00:00,40.737429,-73.820362,pm10,µg/m³,4.980506,2453305,03,2024,2025-04-22 12:14:35.705
51301,2453313,7970808,State Dept of Environmental Conservation-2490753,2024-03-08 00:00:00,40.738047,-73.820138,pm10,µg/m³,4.682738,2453313,03,2024,2025-04-22 12:14:51.410
51302,2453313,7970808,State Dept of Environmental Conservation-2490753,2024-03-08 01:00:00,40.738047,-73.820138,pm10,µg/m³,4.197768,2453313,03,2024,2025-04-22 12:14:51.410
51341,2453313,7970808,State Dept of Environmental Conservation-2490753,2024-03-09 18:00:00,40.738047,-73.820138,pm10,µg/m³,6.802083,2453313,03,2024,2025-04-22 12:14:51.410
51342,2453313,7970808,State Dept of Environmental Conservation-2490753,2024-03-09 19:00:00,40.738047,-73.820138,pm10,µg/m³,7.108780,2453313,03,2024,2025-04-22 12:14:51.410

In [7]:
df.groupby(by="parameter", as_index=False).count()

,parameter,location_id,sensors_id,location,datetime,lat,lon,units,value,locationid,month,year,ingestion_datetime
0,pm10,3485,3485,3485,3485,3485,3485,3485,3485,3485,3485,3485,3485
1,pm25,41935,41935,41935,41935,41935,41935,41935,41935,41935,41935,41935,41935
2,so2,7646,7646,7646,7646,7646,7646,7646,7646,7646,7646,7646,7646

In [8]:
# check for non working sensors via location
df[df["value"] < 0]["location"].unique()

array(['CCNY-384', 'Manhattan/IS143-625', 'Maspeth-628',
       'Fort Lee Near Road-857', 'Rahway PM-924', 'Jersey City FH-931608',
       'Elizabeth Trailer-971', 'Morrisania-302830',
       'Union City High Scho-397916', 'Paterson-402419',
       'Port Richmond-506697'], dtype=object)

In [9]:
con.close()